#borbox
    padding: 80px 0
    .box
        justify-content: space-between
        .minibox
            width: 180px
            height: 180px
            background-color: #a0734a
            border-radius: 110px
            font-size: 24px
            color: #ffffff
            display: flex
            justify-content: center
            align-items: center
            transition: 1.5s
            &:hover
                transition: 1.5s
                border-radius: 30px

        @media screen and ( max-width: 800px )
            .minibox
                width: 45px
                height: 45px
                background-color: #9c9354
    @media screen and ( max-width: 544px )
        .box
            display: flex
            flex-direction: column
            .minibox
                width: 45px
                height: 45px
                background-color: #6fa071
